/*Formatacao da pagina de cadastro
E uso global*/

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    margin: auto;
    background-color: rgb(0, 255, 255);
}

#logo_form {
    float: top;
    max-width: 350px;
    max-height: 200px;
    margin-bottom: 100px;
}
img {
    padding: 10px;
    width: 300px;
    height: 200px;
}

form {
    position: absolute;
    margin-top: 250px;
}

input,button {
   padding: 10px;
   margin-bottom: 10px;
   width: 220px;
}

.clear {
    background: white;
    border: none;
    color: black;
    font-weight: bold;
}

.solid {
    background: white;
    border: none;
    color: black;
    font-weight: bold;
    border: 1px solid white;
}


