/*Criar um conteiner do tipo flexbox
escolhe o elemento que vai ser flexbox e atribui a propriedade flex
nesse caso, escolhemos o body */

body {
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header{
    position: relative;
    top: -220px;
    align-items: center;
    justify-content: center;
}

#login_logo{
    float: top;
    margin-left: 100px;
}

img{
    margin-left: 50%;
    height: 100px;
    width: 150px;
}

form {
    margin-left: -90px;
    width: 300px;
}

input {
    border: none;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: 220px;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.8;
}
 

.clear {
    background: transparent;
    border: none;
    color: black;
    font-weight: bold;
}

.solid {
    background: white;
    border: none;
    color: black;
    font-weight: bold;
    border: 1px solid white;
}

.outline {
    background: white;
    color: black;
    border: 1px solid white;
    font-weight: bold;
}

.error {
    color: white;
    background-color: red;
    display: none;
}